@charset "UTF-8";
/* BASICS */
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: 'Ubuntu Mono', monospace;
  height: 600px;
  max-width: 580px; }

.CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto; }

/* PADDING */
.CodeMirror-lines {
  padding: 4px 0;
  /* Vertical padding around content */ }

.CodeMirror pre {
  padding: 0 4px;
  /* Horizontal padding of content */ }

.CodeMirror-scrollbar-filler {
  background-color: white;
  /* The little square between H and V scrollbars */ }

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7; }

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999; }

/* CURSOR */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
  z-index: 3; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
  z-index: 1; }

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block; }

/* DEFAULT THEME */
.cm-s-default .cm-keyword {
  color: #708; }

.cm-s-default .cm-atom {
  color: #219; }

.cm-s-default .cm-number {
  color: #164; }

.cm-s-default .cm-def {
  color: #00f; }

.cm-s-default .cm-variable {
  color: black; }

.cm-s-default .cm-variable-2 {
  color: #05a; }

.cm-s-default .cm-variable-3 {
  color: #085; }

.cm-s-default .cm-property {
  color: black; }

.cm-s-default .cm-operator {
  color: black; }

.cm-s-default .cm-comment {
  color: #a50; }

.cm-s-default .cm-string {
  color: #a11; }

.cm-s-default .cm-string-2 {
  color: #f50; }

.cm-s-default .cm-meta {
  color: #555; }

.cm-s-default .cm-error {
  color: #f00; }

.cm-s-default .cm-qualifier {
  color: #555; }

.cm-s-default .cm-builtin {
  color: #30a; }

.cm-s-default .cm-bracket {
  color: #997; }

.cm-s-default .cm-tag {
  color: #170; }

.cm-s-default .cm-attribute {
  color: #00c; }

.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #090; }

.cm-s-default .cm-hr {
  color: #999; }

.cm-s-default .cm-link {
  color: #00c; }

.cm-negative {
  color: #d44; }

.cm-positive {
  color: #292; }

.cm-header, .cm-strong {
  font-weight: bold; }

.cm-em {
  font-style: italic; }

.cm-link {
  text-decoration: underline; }

.cm-invalidchar {
  color: #f00; }

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0f0; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f22; }

/* STOP */
/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */
.CodeMirror {
  line-height: 1;
  position: relative;
  overflow: hidden;
  background: white;
  color: black; }

.CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  padding-right: 30px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative; }

.CodeMirror-sizer {
  position: relative; }

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler {
  position: absolute;
  z-index: 6;
  display: none; }

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
  z-index: 6; }

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-bottom: 30px;
  z-index: 3; }

.CodeMirror-gutter {
  height: 100%;
  padding-bottom: 30px;
  margin-bottom: -32px;
  display: inline-block;
  /* Hack to make IE7 behave */
  *zoom: 1;
  *display: inline; }

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

.CodeMirror-lines {
  cursor: text; }

.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible; }

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto; }

.CodeMirror-widget {
  display: inline-block; }

.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden; }

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
  visibility: hidden; }

.CodeMirror-measure pre {
  position: static; }

.CodeMirror div.CodeMirror-cursor {
  position: absolute;
  visibility: hidden;
  border-right: none;
  width: 0; }

.CodeMirror-focused div.CodeMirror-cursor {
  visibility: visible; }

.CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4); }

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
.CodeMirror span {
  *vertical-align: text-bottom; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursor {
    visibility: hidden; } }
/* BASE */
.CodeMirror {
  background: #202020;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  line-height: 20px;
  max-width: 100%;
  padding-right: 26px; }

.CodeMirror-lines {
  /* Vertical padding around content */
  padding: 26px 0; }

.CodeMirror pre {
  /* Margin to right of line number border */
  padding: 0 0 0 26px; }

/* GUTTER */
.CodeMirror-gutters {
  border-right: 1px solid #B5B5B5;
  background-color: #202020;
  box-shadow: 1px 0 3px #6C6C6C, 1px 0 3px #6C6C6C;
  min-width: 26px;
  text-align: center;
  margin-right: 26px;
  padding-left: 0; }

.CodeMirror-gutter {
  padding-bottom: 0; }

.CodeMirror-linenumber {
  color: #DCDCDC;
  font-size: 16px;
  left: 1px !important;
  line-height: 20px;
  text-align: right;
  text-shadow: 0 0 4px #AAAAAA, 0 0 4px #AAAAAA;
  padding: 0; }

@media screen and (max-width: 728px) {
  .CodeMirror-gutters,
  .CodeMirror-linenumbers,
  .CodeMirror-linenumber {
    display: none; } }
/* CURSOR */
.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #DCDCDC;
  box-shadow: 0 0 3px #979797, 0 0 3px #979797;
  z-index: 3; }

/* TEXT STYLING */
.CodeMirror pre {
  color: #DCDCDC;
  /*  font-size: 16px;
      line-height: 20px;*/
  text-shadow: 0 0 3px #979797, 0 0 3px #979797; }

.cm-s-default .cm-keyword {
  color: #DCDCDC;
  text-shadow: 0 0 3px #979797, 0 0 3px #979797; }
.cm-s-default .cm-number {
  color: #DCDCDC;
  text-shadow: 0 0 3px #979797, 0 0 3px #979797; }
.cm-s-default .cm-def {
  color: #DCDCDC;
  text-shadow: 0 0 3px #979797, 0 0 3px #979797; }
.cm-s-default .cm-variable {
  color: #DCDCDC;
  text-shadow: 0 0 3px #979797, 0 0 3px #979797; }
.cm-s-default .cm-variable-2 {
  color: #DCDCDC;
  text-shadow: 0 0 3px #979797, 0 0 3px #979797; }
.cm-s-default .cm-property {
  color: #DCDCDC;
  text-shadow: 0 0 3px #979797, 0 0 3px #979797; }
.cm-s-default .cm-variable + .cm-property {
  color: #DCDCDC;
  text-shadow: 0 0 3px #979797, 0 0 3px #979797; }
.cm-s-default .cm-string {
  color: #DCDCDC;
  text-shadow: 0 0 3px #979797, 0 0 3px #979797; }
.cm-s-default .cm-string-2 {
  color: #DCDCDC;
  text-shadow: 0 0 3px #979797, 0 0 3px #979797; }
.cm-s-default .cm-comment {
  color: #8E8E8E;
  text-shadow: 0 0 3px #979797; }

/* HIGHLIGHT */
.CodeMirror-selected {
  background: #373737; }

.CodeMirror-focused .CodeMirror-selected {
  background: #373737; }

/*  Typography
    ------------------------------------- */
@font-face {
  font-family: "Garamond";
  src: url("./fonts/EBGaramond12-Regular.ttf"); }
@font-face {
  font-family: "Garamond";
  src: url("./fonts/EBGaramond12-Italic.ttf");
  font-style: italic; }
@font-face {
  font-family: "Avenir";
  src: url("./fonts/REPLACE_ME_WITH_SOMETHING_REAL.ttf"); }
/*  Base
    ------------------------------------- */
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

html {
  height: 100%; }

body {
  color: #202020;
  font-family: "Garamond", serif;
  font-size: 17px;
  line-height: 26px;
  padding: 26px;
  position: relative;
  vertical-align: top; }
  @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
    body {
      padding: 17px; } }

h1, h2, h3, h4, h5, h6 {
  color: #202020;
  font-family: "SerapionPro", "Garamond", serif;
  font-weight: 400;
  letter-spacing: 0.015em;
  line-height: 1.5;
  margin-bottom: 26px;
  vertical-align: top;
  word-spacing: 0.15em; }

h2 {
  /* Serapion is a weird font.
     These settings basically make it the font-size equal to our $leading */
  font-size: 32px;
  line-height: 16px;
  padding-top: 10px; }

h3 {
  /* Serapion is a weird font.
     These settings basically make it the font is vertically centered within a line-height of $leading */
  font-family: "SerapionPro-BoldItalic", "Garamond", serif;
  font-size: 20px;
  line-height: 23px;
  margin-top: 26px;
  margin-bottom: 0;
  padding-top: 3px; }

p {
  -moz-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "ss01" 1;
  -ms-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "ss01" 1;
  -o-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "ss01" 1;
  -webkit-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "ss01" 1;
  font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "ss01" 1;
  font-kerning: normal;
  letter-spacing: 0.015em;
  word-spacing: 0.001em; }
  @media screen and (device-aspect-ratio: 2 / 3), screen and (device-aspect-ratio: 40 / 71) {
    p {
      max-width: 100%; } }

p + p, aside + p, p + aside {
  margin-top: 26px; }

a {
  border-bottom: 1px solid black;
  color: black;
  position: relative;
  text-decoration: none; }
  a:hover {
    border-color: black; }

sup {
  font-size: 85%;
  line-height: 85%;
  margin-left: 1px; }
  sup a {
    border: none; }

aside {
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  max-width: 312px;
  width: calc(100% - 52px); }
  aside:before {
    content: "[" attr(data-number) "]";
    font-size: 14px;
    left: -52px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 52px; }
    aside:before::first-letter {
      font-size: 200%;
      color: #8A2BE2; }
  aside a {
    border-width: 1px; }
  aside code {
    font-size: 12px; }

/* Highlight colors. */
::-moz-selection {
  background: #fff700; }

::selection {
  background: #fff700; }

code {
  background: #f3f3f3;
  border-radius: 4px;
  color: #202020;
  font-family: "Ubuntu Mono", monospace;
  font-size: 14px;
  font-size: 14px;
  line-height: 18px;
  padding: 3px 4px 4px; }

.site-badge {
  bottom: 52px;
  height: 52px;
  left: 52px;
  position: fixed;
  width: 52px; }
  @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
    .site-badge {
      bottom: 26px !important;
      left: 26px !important; } }
  .site-badge.lotus {
    background: url(../images/lotus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }

/*  Utilities
    ------------------------------------- */
.contain-floats {
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn {
  background: #202020;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 26px;
  line-height: 52px;
  padding: 1px 78px 0 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  height: 52px; }
  .btn:after {
    display: none; }

.dropdown-select {
  display: inline-block;
  position: relative; }
  .dropdown-select .dropdown-title {
    font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
    margin-right: 21px;
    padding-right: 18px;
    position: relative; }
    .dropdown-select .dropdown-title:hover {
      cursor: pointer; }
    .dropdown-select .dropdown-title:after {
      content: "";
      background: url(../images/down_arrow.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
      font-size: 18px;
      height: 26px;
      line-height: 26px;
      position: absolute;
      right: -0px;
      top: -1px;
      width: 10px; }
  .dropdown-select .dropdown-options {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px #f3f3f3;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #202020;
    right: 26px;
    list-style: none;
    padding: 6.5px 0;
    position: absolute;
    top: calc(100% + 13px);
    width: 208px;
    z-index: 50;
    backface-visiblity: visible; }
    .dropdown-select .dropdown-options li {
      padding: 6.5px 13px; }
      .dropdown-select .dropdown-options li:hover {
        color: #fff;
        cursor: pointer;
        background: #202020;
        font-weight: 500; }

/* Used for allowing anchor links but accounting for fixed header */
.anchor {
  position: relative; }

.logo-anchor {
  border: none; }

.horizon {
  background: transparent;
  border-color: transparent transparent #202020 transparent;
  border-style: solid;
  border-width: 0 13px 6.5px 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 78px 0 91px;
  position: relative;
  z-index: 1;
  width: 100%; }
  .horizon:before, .horizon:after {
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0; }
  .horizon:before {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 13px 6.5px 13px;
    left: -13px;
    top: calc(100% + 2px);
    width: 100%; }
  .horizon:after {
    border-color: #202020 transparent transparent transparent;
    border-style: solid;
    border-width: 6.5px 13px 0 13px;
    height: 26px;
    left: -13px;
    top: calc(100% + 6px);
    width: 100%; }

.small-text {
  font-size: 13px;
  line-height: 1.5; }

.number {
  font-family: "Ubuntu Mono", monospace; }

.arrow-up {
  display: inline-block;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 26px;
  height: 26px;
  line-height: 26px;
  position: relative;
  vertical-align: middle;
  content: "↑"; }
  .arrow-up:before {
    position: absolute;
    top: 0; }
  .arrow-up:before {
    content: "↑";
    margin-left: -5px; }

.arrow-down {
  display: inline-block;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 26px;
  height: 26px;
  line-height: 26px;
  position: relative;
  vertical-align: middle;
  content: "↓"; }
  .arrow-down:before {
    position: absolute;
    top: 0; }
  .arrow-down:before {
    content: "↑";
    margin-left: -5px; }

.arrow-left {
  display: inline-block;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 26px;
  height: 26px;
  line-height: 26px;
  position: relative;
  vertical-align: middle;
  content: "←"; }
  .arrow-left:before {
    position: absolute;
    top: 0; }
  .arrow-left:before {
    content: "←";
    margin-top: -5px; }

.arrow-right {
  display: inline-block;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 26px;
  height: 26px;
  line-height: 26px;
  position: relative;
  vertical-align: middle;
  content: "→"; }
  .arrow-right:before {
    position: absolute;
    top: 0; }
  .arrow-right:before {
    content: "→";
    margin-top: -5px; }

@media screen and (max-width: 728px), screen and (max-device-width: 728px) {
  .mobile-hidden {
    display: none !important; } }

.mobile-show {
  display: none !important; }
  @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
    .mobile-show {
      display: initial !important; } }

/*  Layout
    ------------------------------------- */
#layout {
  margin: 0 auto;
  max-width: 676px;
  width: 100%; }

.hero-content-wrap {
  display: table;
  height: calc(100vh - 182px);
  position: absolute;
  right: 52px;
  width: 676px; }
  @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
    .hero-content-wrap {
      position: static !important;
      right: initial !important;
      width: 100% !important; } }
  .hero-content-wrap .hero-content {
    display: table-cell;
    padding-top: 182px;
    text-align: center;
    vertical-align: middle; }
    .hero-content-wrap .hero-content > * {
      text-align: left; }

.content {
  overflow: hidden;
  margin-left: -52px;
  margin-right: -52px;
  padding: 182px 52px; }
  @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
    .content {
      margin: 0;
      padding: 182px 0; } }

.content-right, .content-left {
  max-width: 546px;
  width: 100%; }
  @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
    .content-right, .content-left {
      max-width: 100%; } }

.content-right {
  float: right; }

.content-left {
  float: left; }

/*  Header
    ------------------------------------- */
#masthead {
  background: transparent;
  height: 104px;
  left: 0;
  padding: 26px 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  min-width: 676px;
  max-width: calc(100% - 104px);
  margin: 0 auto; }
  @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
    #masthead {
      min-width: auto;
      max-width: inherit;
      padding: 17px; } }
  #masthead::before {
    background: transparent;
    background: -webkit-linear-gradient(#fff, rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(#fff, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(#fff, rgba(255, 255, 255, 0));
    background: linear-gradient(#fff, rgba(255, 255, 255, 0));
    content: '';
    display: block;
    height: 104px;
    left: 0;
    pointer-events: none !important;
    position: fixed;
    top: 0;
    width: 100vw; }
  #masthead .inner-navigation-wrap {
    pointer-events: none; }
    #masthead .inner-navigation-wrap * {
      pointer-events: all; }
  #masthead #navigation {
    overflow: hidden; }
  #masthead .logo-anchor {
    display: inline-block; }
    #masthead .logo-anchor #logo {
      align-items: center;
      display: flex;
      height: 52px;
      justify-content: center; }
      #masthead .logo-anchor #logo canvas {
        height: 39px !important;
        margin-left: -9px;
        vertical-align: top;
        width: auto !important; }
  #masthead ul.nav {
    display: block;
    list-style: none;
    margin: 0 -17px 0 0;
    padding: 0; }
    #masthead ul.nav li {
      display: inline-block;
      margin-left: 17px;
      padding: 0 17px; }
      @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
        #masthead ul.nav li {
          margin-left: 0;
          padding: 0 17px 0 0; } }
      #masthead ul.nav li:first-child {
        margin-left: 0;
        padding-left: 0; }
      #masthead ul.nav li a {
        border: none;
        color: #202020;
        font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
        font-size: 14px;
        line-height: 52px;
        position: relative; }
        #masthead ul.nav li a canvas {
          margin-left: -13px;
          margin-right: -13px;
          vertical-align: middle;
          will-change: transform; }
          @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
            #masthead ul.nav li a canvas {
              height: 42px !important;
              margin-left: -10px;
              margin-right: -10px;
              width: auto !important; } }
    #masthead ul.nav.back-nav li a .arrow-left {
      margin-right: 39px; }

/*  Beauty
    ------------------------------------- */
#marginalia-container {
  bottom: 0;
  left: 0;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  will-change: transform;
  z-index: -1; }
  #marginalia-container .marginalia {
    pointer-events: none;
    position: absolute; }

.notated-list {
  position: relative;
  margin: 0 0 0 26px; }
  .notated-list ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative; }
    .notated-list ul li {
      line-height: 26px;
      margin-bottom: 26px; }

/*  Documentation
    ------------------------------------- */
.content-right aside {
  left: -130px; }
  @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
    .content-right aside {
      left: 52px; } }

.hero-text {
  font-size: 20px !important;
  line-height: 26px !important; }

@media screen and (max-width: 728px), screen and (max-device-width: 728px) {
  .download-options .dropdown-options {
    top: inherit;
    right: inherit; } }
.download-options .dropdown-options li .download-title {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5; }
.download-options .dropdown-options li .download-details {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 0px; }

.download {
  height: 52px;
  margin: 26px 0 0; }

.introduction {
  margin-bottom: 52px; }

.material-example-wrap {
  height: 78px;
  margin-bottom: 26px; }
  .material-example-wrap canvas {
    margin-top: -26px;
    vertical-align: top; }
    @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
      .material-example-wrap canvas {
        margin-left: -40px; } }

.bullet-list {
  list-style: none; }
  .bullet-list li {
    position: relative; }
    .bullet-list li:before {
      content: "⚬";
      font-family: serif;
      font-weight: 700;
      left: -52px;
      position: absolute;
      text-align: center;
      top: -3px;
      width: 52px; }
      @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
        .bullet-list li:before {
          display: none; } }

ul.documentation {
  list-style: none; }
  ul.documentation li {
    margin-top: 26px; }
    ul.documentation li p.property > strong, ul.documentation li p.method > strong, ul.documentation li p.construction > strong {
      font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
      font-weight: 500;
      margin-right: 13px; }
    ul.documentation li > ul {
      font-size: 14px;
      list-style: none;
      line-height: 1.5;
      margin-left: 26px; }
      ul.documentation li > ul + li {
        margin-top: 26px; }
        ul.documentation li > ul + li:not(:first-child) {
          margin-top: 26px; }
        ul.documentation li > ul + li p {
          margin-top: 6.5px; }
      ul.documentation li > ul ul {
        list-style: none;
        line-height: 1.5;
        margin-left: 26px; }
        ul.documentation li > ul ul li {
          margin-top: 13px; }
          ul.documentation li > ul ul li p {
            margin-top: 6.5px; }
            ul.documentation li > ul ul li p.property, ul.documentation li > ul ul li p.method, ul.documentation li > ul ul li p.construction {
              border-left: none; }
  ul.documentation .notated-list ul {
    margin: 39px 0 39px 13px; }
    ul.documentation .notated-list ul li {
      margin-bottom: 13px;
      margin-top: 0; }
  ul.documentation > li:last-child ul > li:last-child .notated-list ul {
    margin-bottom: 0; }
    ul.documentation > li:last-child ul > li:last-child .notated-list ul > li:last-child {
      margin-bottom: 0; }

/*  Example Editor
    ------------------------------------- */
.tabbed-editor {
  float: none;
  list-style: none;
  margin: 52px 0;
  width: 100%;
  padding: 0;
  position: relative; }
  .tabbed-editor .editable-content:after {
    content: '';
    display: table;
    clear: both; }
  .tabbed-editor input[type=radio] {
    display: none; }
  .tabbed-editor label {
    display: block;
    float: left;
    height: 26px; }
    .tabbed-editor label:hover span {
      background-color: #f3f3f3; }
    .tabbed-editor label span {
      border-radius: 4px 4px 0 0;
      cursor: pointer;
      color: #202020;
      font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif; }
  .tabbed-editor .tab-content {
    width: 100%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .tabbed-editor .tab-content > .CodeMirror {
      height: auto; }
  .tabbed-editor .tab:checked + span {
    background: #202020;
    color: #fff;
    font-weight: 500; }
  .tabbed-editor .label-text {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    padding: 1px 26px 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase; }

.output {
  background: #fff;
  border: 2px solid #202020;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 78px;
  position: relative;
  width: 100%; }
  .output:before {
    display: inline-block;
    font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 26px;
    height: 26px;
    line-height: 26px;
    position: relative;
    vertical-align: middle;
    content: "↓";
    left: calc(50% - 5px);
    position: absolute;
    top: -52px;
    z-index: -1; }
    .output:before:before {
      position: absolute;
      top: 0; }
    .output:before:before {
      content: "↑";
      margin-left: -5px; }
  .output > div {
    min-height: 92px;
    text-align: center;
    width: 100%; }
    .output > div canvas {
      margin: 26px auto;
      vertical-align: top; }

/*  Materials
    ------------------------------------- */
.materials-list-region {
  float: left; }

.materials-list {
  list-style: none;
  margin-right: -26px;
  overflow: hidden; }
  .materials-list > li {
    background: #fff;
    border: 2px solid #202020;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    font-family: "SerapionPro", "Garamond", serif;
    font-size: 68px;
    height: 104px;
    line-height: 123px;
    margin-bottom: 26px;
    margin-right: 26px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 208px; }
    .materials-list > li:hover .material-overlay {
      cursor: pointer;
      display: block; }
    .materials-list > li .material-overlay {
      background: rgba(255, 255, 255, 0.9);
      bottom: 0;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      display: none;
      left: 0;
      padding: 13px;
      position: absolute;
      right: 0;
      text-align: left;
      top: 0; }
      .materials-list > li .material-overlay .material-name {
        color: #202020;
        display: block;
        font-family: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
        font-size: 17px;
        font-weight: normal;
        line-height: 1.5; }

/* documentation-toc is used by Two to do the sections of documentation specifically. may not need this but nice that it's the same styling */
#toc, #documentation-toc {
  display: inline-block;
  margin-top: -8px;
  list-style: none;
  clear: both;
  max-width: none; }
  @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
    #toc, #documentation-toc {
      text-align: center; } }
  #toc li, #documentation-toc li {
    margin-top: 0;
    display: inline-block;
    float: left; }
    @media screen and (max-width: 728px), screen and (max-device-width: 728px) {
      #toc li, #documentation-toc li {
        float: none; } }
    #toc li a, #documentation-toc li a {
      display: block;
      margin: 8px 8px 0; }

#documentation-toc {
  max-width: 546px; }

/*
.examples,
.projects {
  list-style: none;
  max-width: $max-content-width;
  @media screen and (max-width: $min-screen-width),
  screen and (max-device-width: $min-device-width) {
    text-align: center;
  }
  li {
    display: inline-block;
    position: relative;
    width: $thumbnail-width;
    height: $thumbnail-height;
    overflow: hidden;
    border: 1px solid shade($grey, 10%);
    margin-top: 0 !important;
    text-align: left;
    $o: 0.8;
    &.red {
      h3 {
        background: rgba($red, $o);
      }
    }
    &.green {
      h3 {
        background: rgba($green, $o);
      }
    }
    &.blue {
      h3 {
        background: rgba($blue, $o);
      }
    }
    &.orange {
      h3 {
        background: rgba($orange, $o);
      }
    }
    &.purple {
      h3 {
        background: rgba($purple, $o);
      }
    }
    &.yellow {
      h3 {
        background: rgba($yellow, $o);
      }
    }
    a {
      display: block;
      border-width: 0;
      &:hover, &:active {
        h3 {
          display: block;
        }
      }
    }
    h3 {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      p {
        position: absolute;
        top: 50%;
        margin-top: - $leading;
        color: $white;
        padding: 0 8px;
      }
    }
  }
}
*/
/* Actual description following property name and code line */
p.description {
  margin-top: 6.5px; }

/* Further explaination for when necessary (beyond brief description) */
p.detail {
  margin-top: 6.5px;
  padding-left: 13px;
  margin-left: 3px;
  border-left: 3px solid shade(#f3f3f3, 10%); }

/* Used for properties and objects that are static. This would be like Blotter.UniformUtils.UniformTypes */
p.static, p.static + p {
  color: tint(#202020, 33%); }

/* --------------------------------------------------------------------------------------------*/
/* SOURCE PROPERTY TYPE DESIGNATORS */
/*
.credits {
  margin-top: $leading / 2;
  li:not(:first-child) {
    margin-top: 0;
  }
}
*/
