@import "variables";

@mixin arrow() {
	display: inline-block;
	font-family: $grotesque-font-stack;
	font-size: $leading;
	height: $leading;
	line-height: $leading;
	position: relative;
	vertical-align: middle;

	&:before {
		position: absolute;
		top: 0;
	}
}

@mixin arrow-up() {
	@include arrow;
	content: "↑";

	&:before {
		content: "↑";
		margin-left: -5px;
	}
}

@mixin arrow-down() {
	@include arrow;
	content: "↓";

	&:before {
		content: "↑";
		margin-left: -5px;
	}
}

@mixin arrow-left() {
	@include arrow;
	content: "←";

	&:before {
		content: "←";
		margin-top: -5px;
	}
}

@mixin arrow-right() {
	@include arrow;
	content: "→";

	&:before {
		content: "→";
		margin-top: -5px;
	}
}