$black: #171717;
$grey: #f3f3f3;
$white: #fff;

$red: rgb(255, 64, 64);
$orange: rgb(255, 128, 0);
$blue: rgb(0, 200, 255);
$green: rgb(0, 191, 168);
$purple: rgb(153, 102, 255);
$yellow: rgb(255, 244, 95);

$turquoise: rgb(31, 212, 157);
$fuscia: rgb(236, 29, 128);
$purple: rgb(59, 63, 226);
$red: rgb(238, 25, 25);
$violet: rgb(188, 78, 237);
$dark-soft-blue: rgb(90, 79, 144);
$soft-pink: rgb(255, 247, 245);

$font-size: 16px;
$line-height: 24px;

$max-content-width: 580px;

$min-screen-width: 400px;
$min-device-width: 640px; // iPhone 5 portrait width

$thumbnail-width: 143px;
$thumbnail-height: 100px;

$font-stack: "Garamond", serif;
$h-font-stack: "SerapionPro", "Garamond", serif;
