$black: #1F1F1F;
$grey: #f3f3f3;
$white: #fff;

$yellow: #fff700;

$font-size: 18px;
$leading: $font-size * 1.5;

$layout-width: $leading * 26;
$max-content-width: $leading * 21;

$min-screen-width: 400px;
$min-device-width: 640px; // iPhone 5 portrait width

$font-stack: "Garamond", serif;
$h-font-stack: "SerapionPro", "Garamond", serif;
$grotesque-font-stack: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif