$black: #1e1a1b;//#1F1F1F;
$grey: #f3f3f3;
$white: #fff;

$yellow: #fff700; 
$green: #34e85f; // Consider this for buttons/links?

$font-size: 17px;
$leading: round($font-size * 1.5);

$col-width: $leading * 5;
$gutter-width: $leading * 2;
$layout-width: ($col-width * 4) + ($gutter-width * 3);
$max-content-width: ($col-width * 3) + ($gutter-width * 3);

$min-screen-width: 400px;
$min-device-width: 640px; // iPhone 5 portrait width

$font-stack: "Garamond", serif;
$h-font-stack: "SerapionPro", "Garamond", serif;
$h-font-stack-bold: "SerapionPro-BoldItalic", "Garamond", serif;
$grotesque-font-stack: "Avenir", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$code-font-stack: "Ubuntu Mono", monospace;